extends layouts/head.pug

block title 
    title Wijzig profiel

block main 
    main 
        h1 Wijzig profiel
        Form#changeEmail(method="POST" action="/lid/"+member.lastname.toLowerCase()+"&"+member.firstname.toLowerCase()+"/change_email")
            Label Email 
            input(type="email" name="email" placeholder=member.email)
        button(type="submit" form="changeEmail" value="Submit") Opslaan
        Form#changeNumber(method="POST" action="/lid/"+member.lastname.toLowerCase()+"&"+member.firstname.toLowerCase()+"/change_number") 
            label(for="") Telefoonnummer
            input(type="number" name="phonenumber" placeholder='0'+member.phonenumber)
        button(type="submit" form="changeNumber" value="Submit") Opslaan
        Form#changeStudy(method="POST" action="/lid/"+member.lastname.toLowerCase()+"&"+member.firstname.toLowerCase()+"/change_study")
            label(for="") Studie
            input(type="text" name="study" placeholder=member.study)
        button(type="submit" form="changeStudy" value="Submit") Opslaan
        Form#changeAddress(method="POST" action="/lid/"+member.lastname.toLowerCase()+"&"+member.firstname.toLowerCase()+"/change_address") 
            label Straatnaam + huisnummer
            input(type="text" name="street" placeholder=member.street)
            label Postcode 
            input(type="text" name="postalcode" placeholder=member.postalcode)
            label Plaats
            input(type="text" name="place" placeholder=member.place)
        button(type="submit" form="changeAddress" value="Submit") Opslaan 
