extends layouts/head.pug

block title 
    title Profiel 
block profile
    if user.id == member.id
            a(href="/lid/"+member.lastname.toLowerCase()+'&'+member.firstname.toLowerCase()+'/wijzigen') Profiel wijzigen
    else
        a(href="/lid/"+user.lastname.toLowerCase()+'&'+user.firstname.toLowerCase()) Mijn Profiel

block main 
    main
        h1 Profiel van #{member.firstname} #{member.lastname}
        section
            h2 Contact gegevens
            address
                h3 E-mail: 
                a(href="mailto:") #{member.email}
                h3 Telefoon:
                a(href="tel:") 0#{member.phonenumber}
                h3 Adres:
                p #{member.street}
                p #{member.postalcode} te #{member.place}
        section
            h2 Biografie 
            h3 Verjaardag
            p= member.birthday
            h3 Studie 
            p= member.study 
            h3 Lid sinds #{member.year}
            p status: #{member.status}
        section 
            h2 Saldo 
            p &euro; 417